*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

:root{
    --violet--primary : #45316E;
    --violet--secondary: #5F4A8C;
    --yellow: #EDD502;
    --navbar-height: 100px;
    --fz-big: 800;
    --fz-medium: 400;
    --fz-small: 200;
}

body{
    height: 100vh;
    overflow: hidden;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

/* ----------------------------------- */

.container{
    height: calc(100% - var(--navbar-height));
    width: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    overscroll-behavior: contain;
}


section{
    scroll-snap-align: start;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 1em;


}
.flex-row{
    display: flex;
    flex-direction: column;
}



